.payments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-left: 20px;

        width: 80px;
        height: 80px;

        fill: var(--neutral-color);
    }
}

.payments-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    // margin-top: 20px;
    margin: 20px 0 auto;

    svg {
        width: 150px;
        height: 150px;

        fill: var(--neutral-color);

        margin: 0 70px;
    }

    @media screen and (max-width: 896px) {
        flex-direction: column;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
